.caption-group {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

.caption {
  font-size: var(--text-sm);
  color: var(--color-gray-500);
}

.caption-right {
  text-align: right;
}

.caption-error {
  color: var(--color-error-600);
}
