@import "tailwindcss";

@layer components {
  .label {
    display: block;
  }

  .input {
    display: block;
    border-radius: var(--radius-sm);
    background-color: var(--color-white);
    padding: --spacing(1.5) --spacing(3);
    outline-width: 1px;
    outline-style: solid;
    outline-offset: -1px;
    outline-color: var(--color-gray-300);

    &:placeholder {
      color: var(--color-gray-400);
    }

    &:focus {
      outline-color: var(--color-primary-600);
      outline-offset: -2px;
      outline-width: 2px;
    }
  }

  .input-error {
    outline-color: var(--color-error-600);

    &:focus {
      outline-color: var(--color-error-600);
    }
  }

  .caption {
    font-size: var(--text-sm);
    color: var(--color-gray-500);

  }

  .caption-error {
    color: var(--color-error-600);
  }

}
