@import "tailwindcss";

@layer components {
  .card {
    padding: --spacing(8);
    border-radius: var(--radius-sm);
    border: 1px solid var(--color-gray-200);
    background-color: var(--color-white);
  }

  .card-title {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-bold);
  }
}
